* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  margin: auto;
  width: 1140px;
}

#nav-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 16px;
}

#nav-menu {
  display: none;
  background-color: #77d7d3;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 473px;
  border-radius: 5px;
  height: 340px;
  width: 78vw;
  z-index: 3;
}

#close-nav {
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  position: absolute;
  top: 13px;
  right: 16px;
  cursor: pointer;
}

#nav-menu ul {
  list-style: none;
  padding: 0;
}

#nav-menu ul li {
  margin: 10px 0;
}

#nav-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  line-height: 50px;
}

.info-bar .info-cont .left-icons P {
  font-family: "WORK SANS";
  font-size: 18px;
}

.info-bar {
  background-color: #77d7d3;
  color: #126360;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-icons {
  background-color: #4bc9c4;
  padding: 20px;
  cursor: pointer;
}

.left-icons,
.right-icons {
  display: flex;
  gap: 17px;
  font-size: 19px;
}

.nav-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 52px 11px 10px 10px;
  gap: 20px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #2e4049;
  text-decoration: none;
  font-size: 18px;
  font-family: "Work Sans";
  font-weight: 500;
}

.nav-links a:hover {
  color: black;
}

.nav-button {
  background-color: #ff6d6d;
  padding: 15px 30px;
  border-radius: 30px;
  text-align: center;
  margin: -14px 0px 25px 0px;
}

.nav-button .button {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.fa-chevron-down {
  font-size: 16px;
  font-weight: bolder;
}

.landing {
  min-height: 100vh;

  background-image: url("../img/Background\ Image.png");
  background-size: 100% 100%;
  position: relative;
}
.landing .text {
  position: absolute;

  top: 25%;
  color: white;
}
.landing .text .head {
  font-size: 90px;
  font-weight: 800px;
  font-family: "Shippori Mincho";
  position: relative;
  text-transform: capitalize;
}

.landing .text .content p {
  font-size: 50px;
  font-family: "Sue Ellen Francisco";
  text-transform: capitalize;
  font-weight: lighter;
  color: white;
}

.tog {
  display: flex;
  justify-content: right;
  text-align: center;

  margin: 0;
}

.vertical-line {
  width: 2px;
  height: 20px;
  background-color: #d0d0d0;
}

.head::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  bottom: -37px;
  background-color: white;
}

.head::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: white;
  bottom: -30px;
  width: 340px;
  left: 5px;
}

.buttons {
  display: flex;
  gap: 15px;
  padding-top: 60px;
}

.btn-one button {
  padding: 16px 26px;
  background-color: #ff6d6d;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  font-family: "Work Sans";
}

.btn-two button {
  padding: 16px 26px;
  text-transform: capitalize;
  color: black;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Work Sans";
  text-transform: uppercase;
  font-weight: 500px;
}

.btn-two::after {
  content: "below poverty line";
  position: absolute;
  left: 45%;
  width: 230px;
  height: 22px;
  border-radius: 25px;
  bottom: 69px;
  border: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
  word-spacing: 1px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "work sans";
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

.sec-two {
  padding-bottom: 130px;
}

.sec-two .container .cards {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 95px;
}

.sec-two .container .card-one {
  background-color: #77d7d3;
  padding: 40px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.sec-two .container .card-two {
  background-color: #2e4049;
  padding: 40px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-top: 65px;
}

.sec-two .container .card-three {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.sec-two .container .card-one h2 {
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bolder;
  font-family: "Shippori Mincho";
}

.sec-two .container .card-one p {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Work Sans";
}

.sec-two .container .card-one button {
  padding: 22px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  font-family: "Work Sans";
  cursor: pointer;
  font-weight: 500;
}

.sec-two .container .card-one .sec-btn {
  padding-top: 20px;
}

.sec-two .container .card-two h2 {
  color: white;
  font-size: 35px;
  font-family: "Shippori Mincho";
}

.sec-two .container .card-two p {
  font-size: 20px;
  color: white;
  padding-top: 20px;
  font-family: "Work Sans";
}

.sec-two .container .card-two a {
  color: white;
  text-transform: uppercase;
  top: 35px;
  position: relative;
  font-size: 18px;
  font-family: "Work Sans";
}

.about {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.about .left-sec h3 {
  font-size: 35px;
  color: #ff6d6d;
  font-family: "Sue Ellen Francisco";
  font-weight: 400;
}

.about .left-sec h2 {
  font-size: 40px;
  font-family: "Shippori Mincho";
  text-transform: capitalize;
  font-weight: 800;
}

.about .left-sec p {
  font-size: 20px;
  color: #727272;
  font-family: "Work Sans";
  padding-top: 15px;
}

.about .left-sec button {
  padding: 25px 35px;
  border-radius: 30px;
  background-color: #ff6d6d;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  font-family: "Work Sans";
  cursor: pointer;
}

.about .left-sec .left-sec-btn {
  padding-top: 20px;
}

.right-sec {
  background-color: #ecf1f0;
  padding: 20px 30px 0px 0px;
}

.right-sec .lists {
  display: flex;

  font-size: 20px;
  text-transform: capitalize;
  color: #727272;
}

.right-sec .prog-holder .prog span {
  display: block;
  background-color: #ff6d6d;
  height: 100%;
  position: relative;
  border-radius: 30px;
}

.right-sec .prog {
  height: 5px;
  background-color: #c5cecc;
  border-radius: 30px;
}

.right-sec .prog-holder {
  margin-bottom: 10px;
  padding-left: 43px;
  padding-right: 20px;
}

.right-sec h2 {
  text-transform: capitalize;
  font-size: 25px;
  padding: 50px 0px 30px 40px;
  font-family: "Shippori Mincho";
  color: #2e4049;
}

.right-sec .mon {
  display: flex;
  padding-left: 45px;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Shippori Mincho";
  font-weight: 800;
  color: #2e4049;
  padding-top: 20px;
}

.right-sec .tex-two-btn {
  padding: 42px;
}

.right-sec button {
  padding: 20px 35px;
  border-radius: 30px;
  border: none;
  background-color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "work sans";
  cursor: pointer;
  font-weight: 500;
}

.right-sec .lists li {
  padding: 5px;
  font-family: "Work Sans";
}

.mon .text-one {
  font-size: 20px;
  padding-top: 10px;
  text-transform: capitalize;
}

.mon .text-two {
  font-size: 20px;
  padding-top: 10px;
  text-transform: capitalize;
  padding-right: 17px;
}

.right-sec .lists .fa-check {
  background-color: #77d7d3;
  color: black;
  padding: 5px 5px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  right: 10px;
  font-size: 14px;
}

.slider .slider-header {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 40px;
}

.slider-header .txt p {
  color: #ff6d6d;
  font-size: 35px;
  font-family: "Sue Ellen Francisco";
  text-transform: capitalize;
}

.slider-header .txt h2 {
  font-family: "Shippori Mincho";
  font-size: 40px;
  font-weight: 800;
}

.slider .slider-header button {
  padding: 15px 20px;
  border-radius: 30px;
  background-color: #ff6d6d;
  font-size: 18px;
  color: white;
  border: none;
  text-transform: capitalize;
  margin-top: 40px;
}

.slider {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding-bottom: 100px;
  padding-top: 40px;
}

.carousel-container {
  position: relative;
  max-width: 1200px;
}

.carousel-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.carousel-card {
  background-color: white;
  padding: 10px;
}

.carousel-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-card p {
  font-size: 1rem;
  color: #555;
}

.carousel-arrows {
  position: absolute;
  bottom: -84px;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.arrow {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;

  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.arrow:hover {
  background-color: #f0f0f0;
}

.carousel-card .slider-btn button {
  padding: 18px 40px;
  border-radius: 30px;
  background-color: #2e4049;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.submit {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../img/Background.png);
}

.right-form {
  border: 1px solid white;
  padding: 35px;
}

.submit .container .form .left-text h4 {
  font-size: 35px;
  font-family: "Sue Ellen Francisco";
  font-weight: 400px;
  color: white;
  text-transform: capitalize;
}

.submit .container .form .left-text h1 {
  font-size: 40px;
  font-family: "Shippori Mincho";
  font-weight: 800px;
  color: white;
  text-transform: capitalize;
}

.submit .container .form .left-text p {
  font-size: 20px;
  font-family: "work sans";
  font-weight: 400px;
  color: white;
  text-transform: capitalize;
  padding-bottom: 25px;
}

.form-head {
  color: #ffffff;
  font-size: 35px;
  font-family: "Shippori Mincho";
  text-transform: capitalize;
  font-weight: 800;
}

.submit .container .form .left-text img {
  max-width: 100%;
}

.submit .container .form .left-text button {
  padding: 20px 28px;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #ff6d6d;
  font-size: 18px;
  cursor: pointer;
  border: none;
  font-family: "Work Sans";
}

.submit .container .form .left-text .sub-btn {
  padding-top: 20px;
}

.submit .container .form {
  display: flex;
  gap: 60px;
}

.submit .container .form .the-form {
  display: flex;
  flex-direction: column;
}

.submit .container .form .the-form .small .sm-inp::placeholder {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  left: 20px;
  font-weight: 400;
}

.submit .container .form .the-form .small .lrg-inp::placeholder {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  bottom: 50px;
  left: 20px;
}

.submit .container .form .the-form .small {
  padding: 10px;
}
.submit .container .form .the-form .small .sm-inp {
  width: 443px;
  height: 65px;
  background-image: url(../img/Background.png);
  border: 1px solid white;
  background: transparent;
}

.submit .container .form .the-form .small .lrg-inp {
  height: 165px;
  width: 443px;
  background-image: url(../img/Background.png);
  border: 1px solid white;
  background: transparent;
}

.right-form .the-form .small button {
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "work sans";
  cursor: pointer;
  font-weight: 500;
}

.grid-sec {
  padding-top: 120px;
  padding-bottom: 130px;
}

.grid-container {
  display: grid;

  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.grid-sec .container .grid-heading {
  text-align: center;
}

.grid-sec .container .grid-heading p {
  color: #ff6d6d;
  font-size: 35px;
  font-family: "Sue Ellen Francisco";
  font-weight: 400;
}

.grid-sec .grid-container .grid-item h2 {
  font-family: "Shippori Mincho";
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
}

.grid-sec .grid-container .grid-item p {
  color: #727272;
  font-family: "Work Sans";
  font-size: 20px;
  text-transform: capitalize;
  padding-top: 20px;
}

.grid-sec .container .grid-heading h1 {
  font-size: 40px;
  font-family: "Shippori Mincho";
  font-weight: 800;
}

.grid-sec .grid-container .grid-items h2 {
  font-size: 25px;
  font-family: "Shippori Mincho";
  font-weight: bolder;

  color: #2e4049;
}

.grid-sec .grid-container .grid-items p {
  font-size: 20px;
  font-family: "work sans";
  font-weight: 400;
  color: #727272;
}

.grid-container-row-one {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.grid-container-row-two {
  grid-template-columns: 25% 25% 25% 25%;
  display: grid;
}

.grid-row .grid-container-row-one {
  background-color: #202d33;
}

.grid-row .grid-container-row-one .grid-item-big h2 {
  color: #ff6d6d;
  font-family: "Sue Ellen Francisco";
  font-size: 35px;
  font-weight: 400;
text-transform: capitalize;
  
}

.grid-row .grid-container-row-one .grid-item-big h1 {
  font-size: 40px;
  color: white;
  font-family: "Shippori Mincho";
  font-weight: 800;
  text-transform: capitalize;
}

.grid-row .grid-container-row-one .grid-item-big {
padding: 60px;



}


.grid-row .grid-container-row-one .grid-item-big p {
  font-size: 20px;
  font-family: "Work Sans";
  color: #ffffff;
}

.grid-row .grid-container-row-one .grid-item-big button {
  padding: 20px 30px;
  border-radius: 30px;
  background-color: #ff6d6d;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Work Sans";
  cursor: pointer;
}
.grid-row .grid-container-row-one .grid-item-big .row-btn {
padding-top: 20px;


}


.grid-row .grid-items img {
  max-width: 100%;
}

.grid-back .pills {
  display: flex;
  gap: 20px;
  text-transform: capitalize;
}

.grid-back .pills .pil-one h2 {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #e85353;
  border-radius: 20px;
  font-family: "Work Sans";
  font-weight: 400;
}

.grid-back .pills .pil-two h2 {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #e85353;
  font-family: "Work Sans";
  border-radius: 20px;
  font-weight: 400;
}

.grid-back {
  background-color: #ff6d6d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
}

.grid-container-row-two .grid-back h2 {
  font-size: 30px;
  font-family: "Shippori Mincho";
  text-transform: capitalize;
}

.testmonial {
  padding-top: 100px;
  padding-bottom: 100px;
}

.testmonial .test-head {
  text-align: center;
}

.testmonial .test-head h3 {
  font-family: "Sue Ellen Francisco";
  font-size: 35px;
  color: #ff6d6d;
  font-weight: 400px;
}

.testmonial .test-head h1 {
  font-size: 40px;
  font-family: "Shippori Mincho";
  font-weight: 800;
  text-transform: capitalize;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  width: 49%;
  border: 1px solid #ccc;
  padding: 25px;
  background-color: #ecf1f0;
}

.card img {
  max-width: 40%;
  height: auto;
  margin-right: 10px;
}

.card p {
  margin: 0;
}

.card-container .card .card-text h2 {
  font-size: 25px;
  font-family: "Shippori Mincho";
  text-transform: capitalize;
  font-weight: 700;
}

.card-container .card .card-text h3 {
  font-size: 20px;
  font-family: "Work Sans";
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #727272;
}

.card-container .card .card-text p {
  font-size: 20px;
  font-family: "Work Sans";
  color: #727272;
}

.card-container .card .sign {
  position: relative;
  left: 250px;
  top: 50px;
}

.left-right-icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
  position: relative;
}

.left-right-icons::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #727272;
  bottom: 37px;
  width: 342px;
}

.left-right-icons .left {
  cursor: pointer;
}

.left-right-icons .right {
  cursor: pointer;
}

.testmonial .container .four {
  display: grid;
  padding-top: 20px;
  grid-template-columns: auto auto auto auto;
}

.testmonial .container .four .one h1 {
  font-size: 60px;
  font-family: "Shippori Mincho";
  text-align: center;
  font-weight: 800;
}

.testmonial .container .four .two h1 {
  font-size: 60px;
  font-family: "Shippori Mincho";
  text-align: center;
  font-weight: 800;
}

.testmonial .container .four .three h1 {
  font-size: 60px;
  font-family: "Shippori Mincho";
  text-align: center;
  font-weight: 800;
}

.testmonial .container .four .fourth h1 {
  font-size: 60px;
  font-family: "Shippori Mincho";
  text-align: center;
  font-weight: 800;
}

.testmonial .container .four .one h2 {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  color: #727272;
}

.testmonial .container .four .two h2 {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  color: #727272;
}

.testmonial .container .four .three h2 {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  color: #727272;
}

.testmonial .container .four .fourth h2 {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  color: #727272;
}

.testmonial .container .the-two {
  display: grid;
  padding-top: 100px;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 45px;


}




hr {
  position: relative;
  top: 60px;
  opacity: 40%;
  border-color: #d0d0d0;
}
.vol-header {
padding-bottom: 20px;


}





.vol-header p {
  font-family: "Sue Ellen Francisco";
  color: #ff6d6d;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
font-weight: 400;
}

.vol-header h2 {
  text-align: center;
  font-family: "Shippori Mincho";
  text-transform: capitalize;
font-size: 40px;
font-weight: 800;

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.car {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.volnteers {
  background-color: #f1eeec;
  padding-top: 100px;
  padding-bottom: 100px;
}

.volnteers .container .card-grid .vol-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 10px;
}

.card-grid .car img {
  max-width: 100%;
}

.card-grid .car-hand {
  background-color: #77d7d3;
  max-width: 100%;
  padding: 16px;
  text-align: center;
  background-clip: content-box;
}
.card-grid .car p {
  font-size: 20px;
  font-family: "Shippori Mincho";
  text-transform: capitalize;
  font-weight: 800;
  padding-top: 10px;
}

.card-grid .car-hand img {
  padding-top: 40px;
  width: 82px;
  height: 112px;
}

.card-grid .car-hand h2 {
  font-size: 25px;
  font-family: "Shippori Mincho";

  color: #2e4049;
  padding-top: 20px;
}

.card-grid .car-hand h3 {
  font-size: 20px;
  font-family: "Work Sans";
  color: #2e4049;
  font-weight: 400;
  padding-top: 20px;
}

.card-grid .car-hand button {
  padding: 18px 35px;
  font-size: 18px;
  color: white;
  font-family: "work sans";
  border-radius: 30px;
  background-color: #2e4049;
  text-transform: capitalize;
  cursor: pointer;
}

.card-grid .car-hand .vol-btn {
  padding-top: 13px;
}

.events {
  padding-top: 100px;
  padding-bottom: 100px;
}

.events .events-heading {
  display: flex;
  justify-content: space-between;
}

.events .events-heading .heding-para p {
  font-family: "Sue Ellen Francisco";
  font-size: 35px;
  color: #ff6d6d;
  text-transform: capitalize;
}

.events .events-heading .heding-para h2 {
  font-family: "Shippori Mincho";
  font-size: 40px;
  color: #2e4049;
  text-transform: capitalize;
}

.events .events-heading .the-heading-btn button {
  padding: 20px 28px;
  border-radius: 30px;
  color: white;
  background-color: #ff6d6d;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "work sans";
  cursor: pointer;
  border: none;
  font-weight: 500;
}
.left-right-events .the-left {
  padding-top: 50px;
}

.left-right-events .the-left p {
  font-family: "Sue Ellen Francisco";
  color: #ff6d6d;
  font-size: 35px;
  text-transform: capitalize;
}

.left-right-events .the-left h2 {
  font-family: "Shippori Mincho";
  font-size: 40px;
  color: #2e4049;
  text-transform: capitalize;
  padding-bottom: 40px;
}

.left-right-events .the-left img {
  max-width: 100%;
}

.left-right-events .the-left .timing {
  display: flex;
  text-transform: capitalize;
  color: #727272;
  text-transform: capitalize;
  gap: 75px;
  padding-top: 15px;
  position: relative;
}

.left-right-events .the-left .timing::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #c7c7c7;
  bottom: 3px;
  width: 600px;
}

.left-right-events .the-left .timing .time-left h2 {
  font-size: 20px;
  font-family: "Work Sans";
  font-weight: 500;
  text-transform: capitalize;
}

.left-right-events .the-left .timing .time-left span {
  color: black;
}

.left-right-events .the-left .timing .time-right h2 {
  font-size: 18px;
  text-transform: capitalize;
  color: #2e4049;
  font-family: "Work Sans";
  font-weight: 500;
}

.left-right-events .the-left .right-h {
  font-family: "Shippori Mincho";
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
  color: #2e4049;
}

.left-right-events .the-left .right-p {
  font-size: 20px;
  font-family: "work sans";
  color: #727272;
  font-weight: 400;
  padding-bottom: 20px;
}





.left-right-events .the-left .location {
  background-color: #f0f0f0;
  width: fit-content;
  padding: 15px;
}



.left-right-events .the-left .location p {
  color: #2e4049;
  font-family: "work sans";
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.fa-location-dot {
  color: #ff6d6d;
  padding-right: 5px;
}

.fa-clock {
  color: #ff6d6d;
  padding-right: 15px;
}

.events .left-right-events {
  display: flex;
  gap: 40px;
}

.events .left-right-events .the-right .the-right-btn button {
  padding: 20px 35px;
  cursor: pointer;
}

.the-right {
  display: flex;
}

.the-right .flex-one .first-flex {
  font-size: 25px;
  padding-top: 20px;
  background-color: #202d33;
  padding: 25px;
  color: white;
  position: relative;
  top: 50px;
  right: 20px;
  text-align: center;
}

.the-right .flex-one .sec-flex {
  font-size: 25px;
  padding-top: 20px;
  background-color: #202d33;
  padding: 25px;
  color: white;
  position: relative;
  top: 81px;
  right: 20px;
  text-align: center;
}

.the-right .flex-one .thr-flex {
  font-size: 25px;
  padding-top: 20px;
  background-color: #202d33;
  padding: 25px;
  color: white;
  position: relative;
  top: 118px;
  right: 20px;
  text-align: center;
}

.the-right .flex-one h4 {
  font-size: 25px;
  text-transform: capitalize;
  padding-top: 20px;
}

.the-right .sec-event-one h3 {
  font-family: "Work Sans";
  text-transform: capitalize;
  font-size: 20px;
  color: #727272;
  font-weight: 400;
  padding-top: 50px;
}

.the-right .sec-event-one span {
  font-family: "Work Sans";
  text-transform: capitalize;
  font-size: 20px;
  color: #ff6d6d;
  font-weight: 400;
}

.the-right .sec-event-one h1 {
  font-family: "Shippori Mincho";
  text-transform: capitalize;
  font-size: 25px;
  color: #2e4049;
  font-weight: 800;
}

.the-right .sec-event-one p {
  font-family: "Work Sans";
  font-size: 20px;
  color: #727272;
  font-weight: 400;
  text-transform: capitalize;
}
.events .left-right-events .the-right .sec-event-one {
  position: relative;
}

.events .left-right-events .the-right .sec-event-one::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #c7c7c7;
  bottom: -30px;
  width: 550px;
  left: -142px;
}

.email .mail-cont {
  display: flex;
  justify-content: space-around;
}

.email .mail-cont .left-mail-sec {
  background-color: #ff6d6d;
  width: 50%;
  padding-left: 100px;
  height: 385px;
  padding-top: 70px;
  color: white;
}

.email .mail-cont .right-mail-sec {
  background-image: url(../img/the\ back.png);
  width: 50%;
  padding-left: 120px;
  padding-top: 70px;
}

.left-mail-sec p {
  font-size: 35px;
  font-family: "Sue Ellen Francisco";
  text-transform: capitalize;
  font-weight: 400;
}

.left-mail-sec h2 {
  font-size: 40px;
  font-family: "Shippori Mincho";
  font-weight: 800;
  text-transform: capitalize;
}

.left-mail-sec h4 {
  font-size: 20px;
  font-family: "work sans";
  font-weight: 400;
  padding-top: 25px;
}

.left-mail-sec .mail-inp {
  display: flex;
  gap: 20px;
  padding-top: 32px;
}

.left-mail-sec .mail-inp .inp-fil input {
  padding: 25px 95px;
  border-radius: 35px;
  border: none;
}

.left-mail-sec .mail-inp .mail-btn button {
  padding: 24px 35px;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #2e4049;
  font-family: "Work Sans";
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.mail-cont .right-mail-sec p {
  font-family: "Sue Ellen Francisco";
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 400;
}

.mail-cont .right-mail-sec h1 {
  font-family: "Shippori Mincho";
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 800;
}

.mail-cont .right-mail-sec .right-mail-btn button {
  padding: 20px 35px;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #2e4049;
  font-family: "Work Sans";
  font-size: 18px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #2e4049;
}
.left-column p {
  color: #ffffff;
  font-size: 20px;
  font-family: "Work Sans";
  font-weight: 400px;
  line-height: 26px;
  padding-bottom: 20px;
}

.con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 115px 0px 115px 0px;
}
.left-column {
  flex: 1;
}
.footer-logo {
  padding-bottom: 20px;
}
.right-column {
  flex: 2;
  display: flex;
  padding: 33px 10px 40px 30px;

  background-color: #384c56;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0 10px;
  flex: 1 1 30%;
}
.list li {
  margin-bottom: 10px;
}

.copy {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding: 20px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}

.ins,
.fac,
.tw,
.pn {
  background-color: #384c56;

  padding: 25px;
  border-radius: 50%;
}

.social-icons .ins .fa-instagram {
  color: white;
}

.social-icons .fac .fa-facebook {
  color: white;
}

.social-icons .tw .fa-twitter {
  color: white;
}

.social-icons .pn .fa-pinterest {
  color: white;
}

.rt-heading {
  font-family: "Shippori Mincho";
  font-size: 25px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  padding-bottom: 40px;
  font-weight: 700px;
}

.right-column .list li {
  font-family: "Work Sans";
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 400px;
}

.right-column .list li:hover {
  color: #ff6d6d;
  cursor: pointer;
}

hr {
  border-color: rgb(145, 139, 139);
  opacity: 30%;
}
.nums {
  padding-bottom: 20px;
}
